@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap");

.container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title {
  font-family: "Corinthia", cursive;
  color: white;
  font-size: 60px;
}
.subtitle {
  color: white;
  font-size: 100px;
}
