.nav-container {
  background-color: transparent;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}

.nav-list {
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
}
.nav-list > li > a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}
